
.container-kc{
    /* width: 90%; */
    display: flex;
    height:100%;
    align-items: center;
    /* gap: 24px; */
}
.left-cont{
    width: 60%;
    border-radius:10px;
    display: flex;
    align-items: center;
    height:100%;
    border: 1px solid grey;
    justify-content: space-between;
    padding-left:20px;


}
.right-cont{
    width: 35%;
    border-radius:10px;
    border: 1px solid grey;
    height: 260px;
}
.img-kc-kc img{
    width: 100px;
    border-radius: 5%;
    height: 100%;
}
.img-card-kc{
    display:flex;
    /* align-items: center; */
    justify-content: space-between;
    /* border: 1px solid yellow; */
    width: 100%;
    height: 100%;
}
.img-card-kc .btn-kc{
    height: 100%;
    /* border: 1px solid; */
}
.card-kc{
    width: 100%;
    /* border: 1px solid red; */

}
.text-card-kc{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
}
.left-img-kc{
    display: flex;
    width: 65%;
    gap: 24px;
    height: 100%;
    /* border: 1px solid ; */
}

.stock-kc{
    color: green;
}
.kcee{
    border: 1px solid grey;
    margin-top: 12px;

}
.sum{
    padding-left: 12px;
    padding-top: 10px;
}
.tot{
    display: flex;
    justify-content: space-between;
    padding-left:12px;
    padding-right: 12px;

}
.total{
    padding-top: 10px;
}
.delivery{
    padding-left: 12px;
    color: grey;
}
.btn-btn{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}
.btn-kc{
    padding-right: 12px;
}
.btn-btn button  {
    color: white;
    background-color: black;
    width: 50%;
    height: 49px;
    width: 348px;
    border: none;
    border-radius: 10px;
}
.del-items{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 14px;

}
.r{
    display: flex;
    align-items: center;
}
.add-btn-kc button{
    width: 42px;
    height: 34px;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 600;
}
.add-btn-kc span{
    margin: 0 12px;
}
.btn-kc-kc{
    background-color:grey;
    color: white;
}
.btn-kc-kcee{
    background-color:black;
    color: white;
}

.cart-conatiner{
    width: 100%;
    padding: 0px 20px 0 20px;
    display: flex;
    gap: 30px;
    justify-content: center;
    height: 100%;
    margin: 60px  0;
}
.cart-itemM{
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 100%;
}
.card-kc{
    padding: 10px 5px;
    border-radius: 8px;
}
.cart-summaryM{
    width: 30%;
    border: 1px solid gray;
    border-radius: 8px;
    height: 100%;
    padding-bottom: 20px;
}

/* Media Query for low resolution  Tablets, Ipads */
@media(max-width: 767px) {
    .main-cont{
        display: flex;
        width: 100%;
        height: 100%;
        /* border: 1px solid red; */
        justify-content: space-evenly;
        /* background-color: red; */
        padding-top: 30px;
    }
    .container-kc{
        width: 90%;
        display: flex;
        height:100%;
        align-items: center;
        gap: 24px;
        flex-direction: column;
    }
    .left-cont{
        width: 100%;
        border-radius:10px;
        display: flex;
        align-items: center;
        height:100%;
        border: 1px solid grey;
        justify-content: space-between;
        padding-left:20px;
    
    
    }
    .right-cont{
        width: 100%;
        border-radius:10px;
        border: 1px solid grey;
        height: 260px;
    }
    .img-kc-kc{
        width: 90%;
        height: 120px;
        display: inline-flex;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .img-kc-kc img{
        width: 100px;
        border-radius: 5%;
        height: 100%;

    }

    .img-card-kc{
        display:flex;
        /* align-items: center; */
        justify-content: space-between;
        /* border: 1px solid yellow; */
        width: 100%;
        height: 100%;
        flex-direction: column;
    }
    .img-card-kc .btn-kc{
        height: 100%;
        /* border: 1px solid; */
    }
    .card-kc{
        width: 100%;
        /* border: 1px solid red; */
        padding: 10px; 
    
    }
    .text-card-kc{
        /* border: 1px solid red; */
        display: flex;
        flex-direction: column;
    }
    .left-img-kc{
        display: flex;
        width: 100%;
        gap: 24px;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        /* border: 1px solid ; */
    }
    
    .stock-kc{
        color: green;
    }
    .kcee{
        border: 1px solid grey;
        margin-top: 12px;
    
    }
    .sum{
        padding-left: 12px;
        padding-top: 10px;
    }
    .tot{
        display: flex;
        justify-content: space-between;
        padding-left:12px;
        padding-right: 12px;
    
    }
    .total{
        padding-top: 10px;
    }
    .delivery{
        padding-left: 12px;
        color: grey;
    }
    .btn-btn{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 30px;
    }
    .btn-kc{
        padding-right: 12px;
    }
    .btn-btn button  {
        color: white;
        background-color: black;
        width: 50%;
        height: 49px;
        width: 80%;
        border: none;
        border-radius: 10px;
    }
    .del-items{
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 14px;
    
    }
    .r{
        display: flex;
        align-items: center;
    }
    .add-btn-kc button{
        width: 42px;
        height: 34px;
        border: none;
        border-radius: 4px;
        font-size: 20px;
        font-weight: 600;
    }
    .add-btn-kc span{
        margin: 0 12px;
    }
    .btn-kc-kc{
        background-color:grey;
        color: white;
    }
    .btn-kc-kcee{
        background-color:black;
        color: white;
    }
    .cart-conatiner{
        width: 100%;
        padding: 0px 20px 0 20px;
        display: flex;
        gap: 30px;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        margin: 60px  0;
    }
    .cart-itemM{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 30px;
        height: 100%;
    }
    .card-kc{
        padding: 10px 5px;
        border-radius: 8px;
    }
    .cart-summaryM{
        width: 100%;
        border: 1px solid gray;
        border-radius: 8px;

    }
    
    
   }
   
   /* Media Query for Tablets Ipads portrait mode */
   @media (min-width: 768px) and (max-width: 1024px){
    .main-cont{
        display: flex;
        width: 100%;
        height: 100%;
        /* border: 1px solid red; */
        justify-content: space-evenly;
        /* background-color: red; */
        /* padding-top: 30px; */
    }
    .container-kc{
        width: 90%;
        display: flex;
        height:100%;
        align-items: center;
        gap: 24px;
        flex-direction: column;
    }
    .left-cont{
        width: 100%;
        border-radius:10px;
        display: flex;
        align-items: center;
        height:100%;
        border: 1px solid grey;
        justify-content: space-between;
        padding-left:20px;
    
    
    }
    .right-cont{
        width: 100%;
        border-radius:10px;
        border: 1px solid grey;
        height: 260px;
    }
    .img-kc-kc{
        width: 90%;
        height: 120px;
        display: inline-flex;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    .img-kc-kc img{
        width: 100px;
        border-radius: 5%;
        height: 100%;

    }

    .img-card-kc{
        display:flex;
        /* align-items: center; */
        justify-content: space-between;
        /* border: 1px solid yellow; */
        width: 100%;
        height: 100%;
        flex-direction: column;
    }
    .img-card-kc .btn-kc{
        height: 100%;
        /* border: 1px solid; */
    }
    .card-kc{
        width: 100%;
        /* border: 1px solid red; */
        padding: 10px; 
    
    }
    .text-card-kc{
        /* border: 1px solid red; */
        display: flex;
        flex-direction: column;
    }
    .left-img-kc{
        display: flex;
        width: 100%;
        gap: 24px;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        /* border: 1px solid ; */
    }
    
    .stock-kc{
        color: green;
    }
    .kcee{
        border: 1px solid grey;
        margin-top: 12px;
    
    }
    .sum{
        padding-left: 12px;
        padding-top: 10px;
    }
    .tot{
        display: flex;
        justify-content: space-between;
        padding-left:12px;
        padding-right: 12px;
    
    }
    .total{
        padding-top: 10px;
    }
    .delivery{
        padding-left: 12px;
        color: grey;
    }
    .btn-btn{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 30px;
    }
    .btn-kc{
        padding-right: 12px;
    }
    .btn-btn button  {
        color: white;
        background-color: black;
        width: 50%;
        height: 49px;
        width: 80%;
        border: none;
        border-radius: 10px;
    }
    .del-items{
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 14px;
    
    }
    .r{
        display: flex;
        align-items: center;
    }
    .add-btn-kc button{
        width: 42px;
        height: 34px;
        border: none;
        border-radius: 4px;
        font-size: 20px;
        font-weight: 600;
    }
    .add-btn-kc span{
        margin: 0 12px;
    }
    .btn-kc-kc{
        background-color:grey;
        color: white;
    }
    .btn-kc-kcee{
        background-color:black;
        color: white;
    }
    .cart-conatiner{
        width: 100%;
        padding: 0px 20px 0 20px;
        display: flex;
        gap: 30px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        margin: 60px  0;
    }
    .cart-itemM{
        width: 95%;
        display: flex;
        flex-direction: column;
        gap: 30px;
        height: 100%;
    }
    .card-kc{
        padding: 15px 20px;
        border-radius: 8px;
    }
    .cart-summaryM{
        width: 95%;
        border: 1px solid gray;
        border-radius: 8px;
        padding-bottom: 20px;
    }
    
   }